body {
    margin: 0;
    padding:0;
    background-color: #eeeee5;
}

.name{
    font-size: 1.3em;
    font-weight: 700;
}

.designer{
    font-size: 1.3em;
}

.menu{
    white-space: nowrap;
}

.menu > a{
    color: #CDCDCD;
    display: block;
    font-size: 10pt;
    line-height: 49px;
    padding: 0 15px;
    text-decoration: none;
}

.menu > a.selected-menu {
      color: black;
  }

.menu a:hover{
    color: #262626;
    transition: color 0.4s ease 0s;
}

.container{
    background-color: #ffffff;
    margin: auto;

}

.main{
    position: relative;
    top: 100px;
    width:80%;
}

.leftalign{
    float: left;
}

.sk-title{
    text-transform: uppercase;
}

.sk-header{
    border-bottom: solid 1px #eeeee5;
}

.sk-menu{
    text-transform: uppercase;
}
.sk-full-screen{
    text-align: center;
}








#btn-open-menu{
    border-bottom: 17px double #717168;
    border-top: 6px solid #717168;
    content:"";
    height: 5px;
    width:30px;
}

@media screen and (max-width: 800px) {
    .sk-small-screen-button{
        display: block;
    }
    .sk-full-screen{
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .sk-small-screen-button{
        display: none;
    }

    .toggle-menu {
        display: none;
    }
    .sk-full-screen{
        display: block;
    }
}